* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body {
	background: url('../img/bg.png');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans'
}

a {
	text-decoration: none;

}

.contain {
	width: 90%;
	max-width: 700px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.tarjeta {
	background: #fff;
	margin: 40px 0;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1000;
	
}

/** SLIDER BANNER**/

.slider_banner {
	overflow: hidden;
	z-index: 900;
	position: relative;

}

.slider_banner .banner{
	position: relative;
	width: 100%;
	
}

.slider_banner .banner img{
	vertical-align: top;
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
}

.slider_banner .flecha-banner {
	font-size: 55px;
	line-height: 55px;
	color: rgba(0,0,0,.2);
	position: absolute;
	top: 50%;
	z-index: 1100;
}

.slider_banner .flecha-banner:hover{
	color: rgba(0,0,0,.5);
}

.slider_banner .anterior {
	left: 10px;
}

.slider_banner .siguiente {
	right: 10px;
}

/** SLIDER BANNER**/

.slider_info{
	text-align:center;
	overflow: hidden;
	padding: 20px 0;
	z-index: 1000;
	position: relative;
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5)
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
}

/*section informacion*/
.slider_info .informacion{
	width: 100%;

}

.slider_info .informacion article{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slider_info .informacion article .slide{
	background: #fff;
	width: 100%;
	left: 100%;
	position: absolute;
	padding: 20px 80px;
}

.slider_info .flecha-info{
	font-size: 55px;
	line-height: 55px;
	color: #e6e6e6;
	position: absolute;
	top: 50%;
	z-index: 1000;
}

.slider_info .flecha-info:hover {
	color: #55acee;
}

.slider_info .flecha-info.anterior{
	left: 20px;
}

.slider_info .flecha-info.siguiente{
	right: 20px;
}

/*ESTILOS DE SLIDES*/
.slider_info .informacion .nombre{
	color: #444;
	font-size: 38px;
	line-height: 38px;
	font-weight: 600;
	margin-bottom: 16px;

}

.slider_info .informacion .trabajo{
	color: #55acee;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 16px;
	
}

.slider_info .informacion .pais{
	color: #8d8d8d;
	font-size: 14px;
	line-height: 14px;
	padding-bottom: 10px;
}

.slider_info .informacion .pais img{
	position: relative;
	top: 2px;
	margin-right: 10px;
}

.slider_info .informacion .subtitulo {
	color: #55acee;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 16px;
}
.slider_info .informacion .texto {
	color: #444;
	font-size: 14px;
	line-height: 26px;
	
}

.slide hr{
	height: 2px;
	background: #444;
	border: none;
	margin-bottom: 20px;
	
}
/*TARJETA*/

.contenedor {
	max-width: 1200px;
	margin:0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.contenedor_tarjeta{
	margin: 20px;

}

.contenedor_tarjeta a{
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25)
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
}

.contenedor_tarjeta:hover figure img {
	filter: blur(2px);
}

figure {
	width: 112px
	height: 174px;
	margin: 0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;

}

figure .frontal{
	display: block;
	background: #000;
	/*backface-visibility: hidden;*/

}

figure .trasera{
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;

	
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(255,170,0,0.75);
	background: -moz-linear-gradient(top, rgba(255,170,0,0.75) 0%, rgba(186,124,0,0.81) 25%, rgba(3,15,33,0.91) 62%, rgba(5,8,13,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,170,0,0.75)), color-stop(25%, rgba(186,124,0,0.81)), color-stop(62%, rgba(3,15,33,0.91)), color-stop(100%, rgba(5,8,13,1)));
	background: -webkit-linear-gradient(top, rgba(255,170,0,0.75) 0%, rgba(186,124,0,0.81) 25%, rgba(3,15,33,0.91) 62%, rgba(5,8,13,1) 100%);
	background: -o-linear-gradient(top, rgba(255,170,0,0.75) 0%, rgba(186,124,0,0.81) 25%, rgba(3,15,33,0.91) 62%, rgba(5,8,13,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,170,0,0.75) 0%, rgba(186,124,0,0.81) 25%, rgba(3,15,33,0.91) 62%, rgba(5,8,13,1) 100%);
	background: linear-gradient(to bottom, rgba(255,170,0,0.75) 0%, rgba(186,124,0,0.81) 25%, rgba(3,15,33,0.91) 62%, rgba(5,8,13,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa00', endColorstr='#05080d', GradientType=0 );

}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

figure .trasera hr{
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p{
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 16px;
	font-size: 13px;
}

@media screen and (max-width: 225px) {
	figure .trasera {
		backface-visibility: visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);
	}
}